* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
}

form {
    width: 100%; 
    max-width: 400px;
    margin: 0 auto 10px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input, textarea {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height: 30px;
}

textarea {
    resize: none;
    height: 120px;
}

input[type=submit]{
    width: auto;
}

fieldset {
    border: 1px solid lime;
    padding:10px
}

h1, h2 {
    text-align: center;
    margin:15px 0;
    color: lime;
    padding-left: 10px;
}

h1 {
    margin-bottom: 20px;
    letter-spacing: .8em;
}

.math {
    letter-spacing: .4em !important;
}

.math2 {
    letter-spacing: .3em !important;
}

p {
    text-align: center;
    color:white;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 160%;
    word-wrap: break-word;
}

b {
    color: lime;
}

.error {
    color: lime;
    background-color: blue;
    font-size:.9em;
    margin-top: 10px;
    padding: 2px 6px;
}

.filled {
    color: orange;
}

.reset-container {
    margin-bottom: 5px; 
}

.reset {
    text-decoration: none;
    color: lime;
    text-align: left !important;
    margin-bottom: -30px !important;
}

.info {
    color: black;
    animation: glow 3s ease-in-out infinite alternate, opacityChange 20s linear infinite;
    opacity: 30%;
}

@keyframes glow {
    from {
        text-shadow: 0 0 0.5px #00ff00, 0 0 1px #33ff33, 0 0 1.5px #66ff66, 0 0 2px #99ff99, 0 0 2.5px #ccffcc, 0 0 3px #ccffcc, 0 0 3.5px #ccffcc;
    }
    to {
        text-shadow: 0 0 1px #33ff33, 0 0 2px #66ff66, 0 0 3px #99ff99, 0 0 4px #ccffcc, 0 0 5px #ccffcc, 0 0 6px #ccffcc, 0 0 7px #ccffcc;
    }
}

@keyframes opacityChange {
    0%, 100% {
        opacity: 80%;
    }
    50% {
        opacity: 30%;
    }
}


.reset:hover {
    background-color: white;
    color: black;
    padding: 2px 2px;
}

.reset:focus {
    padding: 1000px 1000px;
    background-color: lime;
    scale: 200%;
    position: absolute;
}

.box {
    width: 400px;
    border: 1px solid green;
    margin: 20px auto;
}

.submit{
    width: auto;
    height: auto;
    color: black;
    background-color: lime;
    border: none;
    padding: 3px 3px;
}

.submit:hover {
    background-color: white;
}

.submit:focus {
    padding: 1000px 1000px;
    background-color: lime;
    scale: 200%;
    position: absolute;
}

ul{
    margin-bottom: 30px;

}

li {
    list-style: none;
    text-align: center;
    color: white;
    margin-bottom: 3px;
}